
.lead .btn{
  background:navy;
}
    .navbar{
background:navy !IMPORTANT;
color:white !IMPORTANT;
border-bottom:2px solid white;
    }
  .navbar .container-fluid{
    margin:0 20%;
  }

  .nav-item .nav-link{
    color:white !Important;
  }
  .navbar-brand{
    color:white !Important;
  }
  .jumbotron{

  }

  .jumbotron .container-fluid{
    margin:0 20%;
    width:60%;
    margin-top:180px;

  }
  #header{
height:100vh;
background-image:url("../images/water2.jpg");
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
transition:2s ease;
 overflow:hidden;
 border-bottom:60px solid navy;
 }
#about{
  width:100%;
  margin:0;
  padding:0;

 padding-bottom:100px;

}
.sr-only{
  background:white;
}
.nav-item .active{
  background:white !Important;
}
#about img{
  width:100%;
  height:300px;
}
h2{
  color:navy;
}
#service{
  width:100%;
  margin:0;
  padding:0;
  background:white;
  color:navy;
  margin-top:100px;
}
.card img{

    height:250px;
}
.card{
  background:navy;
  color:white;
}
.card-body{
  height:200px;
  text-align:justify;
}

#msg{
  color:navy;
  margin-top:30px;
}
#contact{
  margin-top:150px;
  border:3px solid navy;
  border-radius:20px;
}
form .btn{
  background:navy;
}
  footer{
    background:#000653;
    height:50px;
    color:white;
    margin-top:150px;
  }
  .navbar-toggler{
    background:white;
  }
  .navbar-toggler-icon{
    background:white;
  }
  @media (max-width:1000px) {
.jumbotron .container-fluid{
  margin:0;
  margin-top:100px;
}
.form-group .btn{
  width:100%;
}
.navbar .container-fluid{
  margin:0;
}
#stmt {
  font-size:30px !Important;
}
#stmts{
  font-size:18px !Important;
}
form .btn{
  width:100% !Important;
}
  }
